<div class="footer-container">
  <div class="content-wrapper">
    <div class="splitter"></div>
    <br />

    <div class="bottom-div">
      <div class="bottom-div_div">
        <a href="https://github.com/fawern">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="{% url 'home' %}"><i class="fa-solid fa-house"></i></a>
        <a href="https://www.chess.com/member/fawern">
          <i class="fa-solid fa-chess"></i>
        </a>
      </div>
    </div>
  </div>
</div>
