{% extends "layout.html" %}
<!--  -->
{% block body %}
<div class="main-img">
  <div class="img-div">
    <span id="enterence-text"></span>
  </div>
</div>

<div class="second-text">
  <p>Kitapların büyüleyici dünyasında kendini kaybet</p>
</div>
<a href="fantastik-yazarlar">
  <div class="wrtr-catalog-container-fantasy all-categories-book-height">
    <div class="wrtr-catalog-fantasy"></div>
    <h1 class="catalog-title-fantasy all-categories-book-font">
      Fantastik-Bilim Kurgu
    </h1>
  </div></a
>

<a href="dedektif-polisiye-yazarlar">
  <div class="wrtr-catalog-container-dedective all-categories-book-height">
    <div class="wrtr-catalog-dedective"></div>
    <h1 class="catalog-title-dedective all-categories-book-font">
      Dedektif-Polisiye
    </h1>
  </div></a
>
<a href="psikolojik-duygusal-yazarlar">
  <div class="wrtr-catalog-container-emotional all-categories-book-height">
    <div class="wrtr-catalog-emotional"></div>
    <h1 class="catalog-title-emotional all-categories-book-font">
      Psikolojik-Duygusal
    </h1>
  </div></a
>
<a href="korku-gerilim-yazarlar">
  <div class="wrtr-catalog-container-thriller all-categories-book-height">
    <div class="wrtr-catalog-thriller"></div>
    <h1 class="catalog-title-thriller all-categories-book-font">
      Korku-Gerilim
    </h1>
  </div></a
>
<a href="romantik-yazarlar">
  <div class="wrtr-catalog-container-romantic all-categories-book-height">
    <div class="wrtr-catalog-romantic"></div>
    <h1 class="catalog-title-romantic all-categories-book-font">
      Romantik-Aşk
    </h1>
  </div></a
>
<a href="kisisel-gelisim-yazarlar">
  <div
    class="wrtr-catalog-container-self-improvement all-categories-book-height"
  >
    <div class="wrtr-catalog-self-improvement"></div>
    <h1 class="catalog-title-self-improvement all-categories-book-font">
      Kişisel Gelişim
    </h1>
  </div></a
><br /><br /><br /><br /><br /><br />
{% endblock body %}
